* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

img {
    max-width: 100%;
}

input {
    font-size: 2em;
    height: 75px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 50px;
}

#url {
    width: 700px;
    padding: 20px;
}

#url:focus {
    border-color: #333;
}

#submit {
    width: 200px;
    background: #fff;
    cursor: pointer;
}

#submit:hover {
    background: #ddd;
}

#submit:focus {
    background: #ccc;
}

.input-container, .output-container {
    text-align: center;
}

#output, #error {
    font-size: 2em;
}

#error {
    color: red;
}