<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div class="input-container">
            <input id="url" type="text" placeholder="url (e.g., http://facebook.com)"/>
            <input type="button" id="submit" value="Generate">
        </div>
        <div class="output-container">
            <a href="" id="output"></a>
            <div id="error"></div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
